<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MediaTypes" type="MediaManager.Entity.Configuration.MediaTypeSection, MediaManager.Entity" allowDefinition="Everywhere" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro" publicKeyToken="f4fb5a3c4d1e5b4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.23" newVersion="1.5.0.23" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <add key="DbContextString" value="StandardLocalConnection" />
    <add key="applicationDataDirectoryName" value="MediaManager" />
    <add key="acceptedVideoFormats" value=".avi,.wmv,.mp4,.flv"/>
  </appSettings>

  <MediaTypes>
    <Types>
      <add name="Video" extensions=".avi,.wmv,.mp4,.flv"/>
      <add name="Audio" extensions=".mp3"/>
    </Types>
  </MediaTypes>

  <connectionStrings>
    <add name="StandardLocalConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MediaManagerData.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
